<h1>タスクリスト</h1>
  <p>ログイン完了ユーザー：<%= current_user.name %> さん</p>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %> : <%= task.content %> &gt; <%= task.status %> &gt;
          <% if current_user == task.user %>
            <%= link_to "更新", edit_task_path(task) %>
            <%= link_to "削除", task, method: :delete, data: {confirm: "削除しますか？" } %>
          <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'タスク登録', new_task_path %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>