<h1>タスクリスト</h1>

<!-- ユーザログインの場合 -->
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %> &gt; <%= task.status %></li>
  <% end %>
</ul>

<%= link_to 'タスク登録', new_task_path %>

<!-- ユーザログアウトの場合 -->

<!-- ユーザログアウトもしくは未登録の場合 -->
<%= link_to '新規登録', signup_path %>